__pycache__
*.sublime-*
venv/
*.sql
local.yaml
test.yaml
stage.yaml
get-pip.py
.idea/
.cache/
.eggs/
*.egg-info/
.DS_Store
*.egg-info
.eggs
.cache
report.xml
.mypy_cache
.pytest_cache
.vscode
form-data/
onetwo
form_data/
bot/config.py
